html {
  --color-white: #fff;
  --color-black: #1f2939;
  --color-gray: #f7f8f9;
  --color-dark-gray: #697180;
  --color-red: #c53030;
  --color-dark-red: #9b2c2c;
  --color-pink: #fee3e3;
  --color-dark-pink: #fed7d7;

  --color-background-primary: #f8f9fa;
  --color-background-secondary: #f0f3f7;
  --color-background-white: var(--color-white);

  --color-foreground-primary: var(--color-gray);
  --color-foreground-red: var(var(--color-red));
  --color-foreground-dark-red: var(var(--color-dark-red));
  --color-foreground-pink: var(var(--color-pink));
  --color-foreground-dark-pink: var(var(--color-dark-pink));

  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-dark-gray);

  --unit-x1: 4px;
  --unit-x1: calc(var(--unit-x1) * 2); /* 8px */
  --unit-x1: calc(var(--unit-x1) * 3); /* 12px */
  --unit-x1: calc(var(--unit-x1) * 4); /* 16px */

  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;

  background: var(--color-background-primary, #f8f9fa);

  color: var(--color-text-primary, #1f2939);

  font-family:
    'Roboto',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
}
